body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6B8A7A;
}

header {
    background-color: #254336;
    color: #DAD3BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh; 
    top: 0;
    z-index: 999;
}

header h1 {
    margin-left: 20px;
    font-size: 1.5rem;
}

header form {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav {
    background-color: #B7B597;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5vh;
    top: 10vh;
    z-index: 998;
}

nav a {
    color: #254336;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;
}

.placeholder {
    height: 15vh;
}

@media (max-width: 768px) {
    header {
        height: 60px;
    }

    nav {
        height: 30px;
        top: 60px;
    }

    .placeholder{
        height: 90px;
    }
}