.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
.creator {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.creator img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}